<p>===================================================================</p>
<app-detalhe-skin [alteracao]='false'></app-detalhe-skin>
<p>===================================================================</p>
<p>===================================================================</p>
<p>===================================================================</p>
<p>===================================================================</p>
<app-detalhe-skin *ngFor="let skin of listaSkins" itemid="skin.id" [skin]="skin" [alteracao]='true'></app-detalhe-skin>