<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav *ngIf="this.logado" class="nav-bar">
  <div class="nav-wrapper menu">
    <img [routerLink]="['/']" src="../assets/logo_branco.png" class="brand-logo right logo_nav logo">
    <!-- <a href="#" class="brand-logo right"></a> -->
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li [routerLink]="['/palavras']" routerLinkActive="active"><a class="item-menu">Palavras</a></li>
      <li [routerLink]="['/skins']" routerLinkActive="active"><a class="item-menu">Skins</a></li>
      <li [routerLink]="['/temas']" routerLinkActive="active"><a class="item-menu">Temas</a></li>
      <li [routerLink]="['/experiencias']" routerLinkActive="active"><a class="item-menu">Experiências</a></li>
      <li [routerLink]="['/administrador']" routerLinkActive="active"><a class="item-menu">Administrador</a></li>
    </ul>
  </div>
</nav>
<div class="corpo">
  <router-outlet></router-outlet>
</div>