.logo{
    max-height: 100%;
}

.menu{
    background-color: #00001f
}

.item-menu{
    font-weight: bolder;
}

.active{
    background-color: #00003f
}

h1{
    text-align: center;
    font-weight: bolder;
    color: yellowgreen;
}